.DS_Store
.vscode/
*.o
/build/
/release/
temp/
cache/
/.build_cached

src/**/batmon
!batmon/
src/**/keymon
!keymon/
src/**/lumon
!lumon/
src/**/MiniUI
!MiniUI/
src/**/progressui
!progressui/
src/**/show
!show/
src/**/confirm
!confirm/
src/**/say
!say/
src/**/blank
!blank/
src/**/clock
!clock/
src/**/screenshot
!screenshot/
src/**/keymon
!keymon/
