.DS_Store
.vscode/
*.o
/build/
/release/
temp/
cache/
/.build_cached

src/**/batmon
!batmon/
src/**/keymon
!keymon/
src/**/lumon
!lumon/
src/**/retroplay
!retroplay/
src/**/progress
!progress/
src/**/sys-img
!sys-img/
src/**/confirm
!confirm/
src/**/sys-msg
!sys-msg/
src/**/blank
!blank/
src/**/clock
!clock/
src/**/screenshot
!screenshot/
src/**/keymon
!keymon/
